.container{
    display: grid;
    width: 99%;
    height: fit-content;
    margin : 0 auto;
    gap:1.8rem;
    grid-template-columns: 16rem auto;
    overflow: hidden;
}

.child-container{
    display: grid;
    height: fit-content;
    place-content: center;
    padding: 4rem;
}

main{
    height: fit-content;
}

h1{
    color: var(--color-complementary);
}

@media screen and (max-width: 1000px) {
    #page_title{
        text-align: center;
    }
    .container{
        grid-template-columns: unset;
    }
    .child-container{
        padding-left: 1rem;
        padding-right: 1rem;
    }
  }

  @media screen and (max-width: 400px) {
   
    .child-container{
        padding-left: 0rem;
        padding-right: 0rem;
        padding-top: 1rem;
    }
  }