.container{
    display: grid;
    width: 100%;
    height: fit-content;
    margin : 0 auto;
    gap:1.8rem;
    grid-template-columns: 16.5rem auto;
    overflow: hidden;
    background-color: var(--color-background);
    min-height: 100vh;
    color: var(--color-dark);
}
.container-top-btn-grp{
    display: flex;
    gap: 1rem;
}

.child-container{
    display: grid;
    height: fit-content;
    place-content: center;
    padding: 4rem;
}
.child-container-flex{
    display: flex;
    height: fit-content;
    padding: 1rem;
    padding-bottom: 5rem ;
    gap: 1.5rem;
    flex-direction: column;
}

main{
    height: fit-content;
}

h1{
    color: var(--color-primary);
}

@media screen and (max-width: 1000px) {
    #page_title{
        text-align: center;
    }
    .container{
        grid-template-columns: unset;
    }
    .child-container{
        padding-left: 1rem;
        padding-right: 1rem;
    }
  }

  @media screen and (max-width: 400px) {
   
    .child-container{
        padding-left: 0rem;
        padding-right: 0rem;
        padding-top: 1rem;
    }
  }