form{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}


input[type="text"],input[type="email"],input[type="number"],input[type="date"],input[type="time"],input[type="tel"],input[type="file"],input[type="password"]{
    background: transparent;
    border: none;
    width: 20rem;
    border-bottom: 1px solid var(--color-secondary);
    color:var(--color-secondary);
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    }
    ::-webkit-calendar-picker-indicator {
        filter: invert(100%);
      }
    
      input[type="text"]:focus,input[type="email"]:focus,input[type="number"]:focus,input[type="date"]:focus,input[type="time"]:focus,input[type="tel"]:focus,input[type="file"]:focus,input[type="password"]:focus{
    background: transparent;
    -webkit-box-shadow: none;  
    border-bottom: 1px solid var(--color-primary);
    color:var(--color-primary);
    box-shadow: none;
    }

    /* input:focus + label,
    input:not(:placeholder-shown):not(:focus) + label {
      top:-1rem;
      font-size: 0.7rem;
      color:var(--color-complementary);
  } */

    
    
    label{
      position: absolute;
      cursor: text;
      pointer-events: none;
      top:-0.2rem;
      left:0;
      transition: all 200ms ease-in;
      color:var(--color-secondary);
    }

    label.input_has_value{
      top:-1rem;
      font-size: 0.7rem;
      color:var(--color-complementary);
    }

    .input_row{
      display: flex;
      gap: 1rem;
    }
    .input_group{
        display: flex;
        gap: 1rem;
        position: relative;
    }

    .formbtn{
      width:10rem !important;
    }