.card-grid{
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1rem;
}

.card{
    display: flex;
    flex: 1;
    text-wrap: nowrap;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;

    img{
        border-radius: var(--card-border-radius);
        height: 6rem;
    }
}
.card:nth-child(5n) {
    flex-break: after;
}

.card-grid2{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    .card{
        width: fit-content;
    }
}