.card-grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1rem;
}
.card{
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;

    img{
        border-radius: var(--card-border-radius);
        height: 6rem;
    }
}